.w100 {
  width: 100px;
  display: inline-block;
  margin: 0;
  padding-bottom: 4px;
}

.w300 {
  width: 300px;
  display: inline-block;
  margin: 0;
  padding: 10px;
}

.f-r {
  float: right;
}

.m-r {
  margin-right: 2%;
}

.c-width {
  width: 16rem;
}

a {
  text-decoration: none; 
}
